[submodule "serval-ios/External/serval-dna"]
	path = serval-ios/External/serval-dna
	url = git@github.com:servalproject/serval-dna.git
[submodule "serval-ios/External/unirest-obj-c"]
	path = serval-ios/External/unirest-obj-c
	url = https://github.com/Mashape/unirest-obj-c.git
